<section class="testimonial-video">
  <video autoplay loop muted playsinline>
    <source src="assets/my-video.mp4" type="video/mp4" />
    <source src="assets/my-video.webm" type="video/webm" />
    <track
      src="assets/captions.vtt"
      kind="subtitles"
      srclang="en"
      label="English"
    />
    Your browser does not support the video tag.
  </video>
  <div class="testimonial-text">
    <p>Let's get the Conversation started.</p>
  </div>
</section>

<form class="contact-form">
  <div class="input-row">
    <div class="form-group">
      <label>Name <span class="required">(required)</span></label>
      <input type="text" placeholder="First Name" />
    </div>
    <div class="form-group">
      <label><br /></label>
      <input type="text" placeholder="Last Name" />
    </div>
  </div>

  <div class="form-group">
    <label>Email <span class="required">(required)</span></label>
    <input type="email" />
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text" />
  </div>

  <div class="form-group">
    <label>Instagram Handle</label>
    <p class="helper">
      Let's connect! It helps to connect on a more personal level.
    </p>
    <input type="text" />
  </div>

  <div class="form-group">
    <label>How did you hear about us?</label>
    <div class="options">
      <button type="button">Instagram</button>
      <button type="button">Facebook</button>
      <button type="button">Recommendation</button>
      <button type="button">Google</button>
      <button type="button">Other</button>
    </div>
  </div>

  <div class="form-group">
    <label>What services are you interested in?</label>
    <div class="options">
      <button type="button">Photo</button>
      <button type="button">Video</button>
      <button type="button">Both</button>
    </div>
  </div>

  <div class="form-group">
    <label>Event Date</label>
    <input type="date" />
  </div>

  <div class="form-group">
    <label>Type of event?</label>
    <div class="options">
      <button type="button">Studio</button>
      <button type="button">Locations</button>
      <button type="button">Other</button>
    </div>
  </div>

  <div class="form-group">
    <label>Location</label>
    <p class="helper">Where are you planning to get the photoshoot?</p>
    <input type="text" />
  </div>

  <div class="form-group">
    <label>How many guests do you expect?</label>
    <input type="text" />
  </div>

  <div class="form-group">
    <label>Other vendors?</label>
    <input type="text" />
  </div>

  <div class="form-group">
    <label
      >Tell us more about your day plans!
      <span class="required">(required)</span></label
    >
    <p class="helper">
      We would love to hear more about your plans and of course, we would like
      to get to know you better. Drop us a line, give us as much information as
      you can, and we will get in touch with everything you need to know.
    </p>
    <textarea></textarea>
  </div>

  <div class="form-group">
    <label
      >Any questions for us? <span class="required">(required)</span></label
    >
    <p class="helper">
      From this moment on you won’t have to worry about anything anymore. We’ve
      got you covered.
    </p>
    <textarea></textarea>
  </div>

  <div class="form-group">
    <label>Photo</label>
    <p class="helper">Please upload a photo of you here.</p>
    <div class="file-upload">
      <input type="file" id="file" hidden />
      <label for="file" class="file-box">
        <div class="plus">+</div>
        <div>Add a File</div>
      </label>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="submit-button">SUBMIT</button>
  </div>
</form>
