<section class="about-section">
  <div class="about-image fade-in" [appFadeInOnScroll]="threshold">
    <img src="assets/about.jpg" alt="Couple photostrip" />
  </div>

  <div class="about-text">
    <h1>ABOUT US</h1>
    <p>
      We’re Julia & Gil, a married couple living in a charming old apartment
      together with our beloved daughter. We’re in business for nearly a decade
      and have had the privilege of capturing weddings in countries including
      Italy, France, Portugal, Switzerland, Spain, the Netherlands, Germany and
      Austria.
    </p>
    <p>
      Our work has been featured in prestigious publications such as Vogue, The
      Wed, Junebug Weddings, Anti-Bride, Magnolia Rouge, Style Me Pretty, The
      Lane and Hochzeitswahn.
    </p>
    <p>
      We’re proud ambassadors for leading brands in the photography industry,
      including Canon, PicTime, Pixellu, Narrative and Imagen.
    </p>
  </div>
</section>
