<div class="upload-container">
    <h2>Upload & Retrieve Images from Cloudinary</h2>
  
    <input type="file" multiple (change)="onFileSelected($event)">
    <button (click)="uploadImages()" [disabled]="isUploading">
      {{ isUploading ? 'Uploading...' : 'Upload Images' }}
    </button>
  
    <h3>Uploaded Images</h3>
    <div class="image-grid">
      <div *ngFor="let url of uploadedImages" class="image-preview">
        <img [src]="url" alt="Uploaded Image">
      </div>
    </div>
  </div>